## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# Initial data investigation

In [1]:
import pandas as pd
import numpy as np

In [2]:
cd zippedData

/Users/jessicamiles/Documents/Flatiron_Data_Science/git_labs_lessons/phase1/dsc-phase-1-project/zippedData

In [3]:
ls

bom.movie_gross.csv.gz        imdb.title.ratings.csv.gz
imdb.name.basics.csv.gz       rt.movie_info.tsv.gz
imdb.title.akas.csv.gz        rt.reviews.tsv.gz
imdb.title.basics.csv.gz      tmdb.movies.csv.gz
imdb.title.crew.csv.gz        tn.movie_budgets.csv.gz
imdb.title.principals.csv.gz

In [4]:
def preview_csvtsv(filepath, row_count):
    """Create a dataframe of initial n rows from file as a preview.
    Supports either csv or tsv file formats, and files compressed as gz.
    File format and gz detected using file extensions.
    Prints a preview dataframe of the file, the preview's head(), 
    and the total number of rows.
    """
    import gzip
    is_gz = False
    
    print(f"""--------------------------------------------------
    File: {filepath}
    --------------------------------------------------""")
    
    # determine file extension(s)
    if filepath.split('.')[-1].lower() == 'csv':
        filetype='csv'
    elif filepath.split('.')[-1].lower() == 'tsv':
        filetype='tsv'
    elif filepath.split('.')[-1].lower() == 'gz':
        # if we have a gz file, get second to last element
        is_gz = True
        if filepath.split('.')[-2].lower() == 'csv':
            filetype='csv'
        elif filepath.split('.')[-2].lower() == 'tsv':
            filetype='tsv'
    else:
        # default to CSV if can't determine the file extention
        filetype='csv'
    
    # Process file based on extension. 
    # Pandas doesn't care if the file is a gz compressed
    if filetype == 'csv':
        df_test = pd.read_csv(filepath, nrows=row_count)
    elif filetype == 'tsv':
        df_test = pd.read_table(filepath, nrows=row_count)

    num_lines = 0
    
    # get line count. This differs based on if the file is gz or not
    if is_gz:
        for line in gzip.open(filepath):
            num_lines += 1
    else:
        for line in open(filepath):
            num_lines += 1
    
    display(df_test.head())
    display(df_test.info())
    print(f"\nFile contains {num_lines} total lines, including header.")
    print('\n\n\n')
    
    pass

In [33]:
def filelist_to_dfs_prelim(filepath_list, dfname_list):
    """Creates a dataframe for each file in the list.
    Names each dataframe using the corresponding name list.
    """
    df_dict = {}
    filetype = ''

    if len(filepath_list) != len(dfname_list):
        return "Error: lists must be of equivalent length."
    
    # loop through each file in the filepath_list
    for i, file in enumerate(filepath_list):
        
        print(f"Working on {file}...")
        
        # figure out the file type to use the appropriate method
        if file.split('.')[-1].lower() == 'csv':
            filetype='csv'
        elif file.split('.')[-1].lower() == 'tsv':
            filetype='tsv'
        elif file.split('.')[-2].lower() == 'csv':
            filetype='csv'
        elif file.split('.')[-2].lower() == 'tsv':
            filetype='tsv'
        else:
            # default to CSV if can't determine the file extention
            filetype='csv'
        
        try:
            # determine file extension and apply appropriate method to load preview
            if filetype == 'tsv':
                df_dict[dfname_list[i]] = pd.read_table(file)
            else:
                # default to CSV if not tsv
                df_dict[dfname_list[i]] = pd.read_csv(file) 
        except:
            print(f"Error encountered and {file} was skipped")

    return df_dict

In [39]:
def filelist_to_dfs_errorh(filepath_list, dfname_list):
    """Creates a dataframe for each file in the list.
    Names each dataframe using the corresponding name list.
    """
    df_dict = {}
    filetype = ''
    
    if len(filepath_list) != len(dfname_list):
        return "Error: lists must be of equivalent length."
    
    # loop through each file in the filepath_list
    for i, file in enumerate(filepath_list):
        
        print(f"Working on {file}...")

        # figure out the file type to use the appropriate method
        if file.split('.')[-1].lower() == 'csv':
            filetype='csv'
        elif file.split('.')[-1].lower() == 'tsv':
            filetype='tsv'
        elif file.split('.')[-2].lower() == 'csv':
            filetype='csv'
        elif file.split('.')[-2].lower() == 'tsv':
            filetype='tsv'
        else:
            # default to CSV if can't determine the file extention
            filetype='csv'
        
        # determine file extension and apply appropriate method to load df
        # Credit to https://stackoverflow.com/questions/33440805
        #     /pandas-dataframe-read-csv-on-bad-data for handling error rows
        if filetype == 'tsv':
            df_dict[dfname_list[i]] = pd.read_table(file
                                        , error_bad_lines = False
                                        , warn_bad_lines = True
                                        , encoding='latin1') 
        else:
            # default to CSV if not tsv
            df_dict[dfname_list[i]] = pd.read_csv(file
                                        , error_bad_lines = False
                                        , warn_bad_lines = True
                                        , encoding='latin1') 

    return df_dict

In [31]:
def summarize_cols(df_dict):
    """Creates a dataframe with df/column summary info.
    Takes a dictionary as input, where the key is the name of the df,
    and the value is the dataframe itself."""
    
    arr_colsumm = np.array([['df_namekey', 'col_name'
                                 , 'col_type', 'col_nan_count'
                                 , 'total_rows']])
    
    for df_key in df_dict.keys():
        # append each column's info to the array
        for col in df_dict[df_key].columns:
            arr_colsumm = np.append(arr_colsumm
               , [[df_key
                 , col
                 , df_dict[df_key][col].dtype
                 , df_dict[df_key][col].isna().sum()
                 , len(df_dict[df_key])]], axis=0)

    df_colsumm = pd.DataFrame(arr_colsumm[1:], columns=arr_colsumm[0])
    
    return df_colsumm

In [8]:
files = ['bom.movie_gross.csv.gz'
         ,'imdb.title.ratings.csv.gz'
         ,'imdb.name.basics.csv.gz'
         ,'rt.movie_info.tsv.gz'
         ,'imdb.title.akas.csv.gz'
         ,'rt.reviews.tsv.gz'
         ,'imdb.title.basics.csv.gz'
         ,'tmdb.movies.csv.gz'
         ,'imdb.title.crew.csv.gz'
         ,'tn.movie_budgets.csv.gz'
         ,'imdb.title.principals.csv.gz']

df_names = ['df_bom_gross'
         ,'df_imdb_ratings'
         ,'df_imdb_namebasics'
         ,'df_rt_movie_info'
         ,'df_imdb_akas'
         ,'df_rt_reviews'
         ,'df_imdb_basics'
         ,'df_tmdb_movies'
         ,'df_imdb_crew'
         ,'df_tn_budgets'
         ,'df_imdb_principals']

### Initial preview of first 10 rows of each file

First, I loaded only the first 10 rows of each file into a dataframe and displayed the `head()`. This function also counts the total lines in each file.

I reviewed the results from each file to understand what information they contain. In terms of what I'm hoping for, I'm not sure whether I have sufficient data to calculate the actual profit. Ideally, I would like the profit calculation to be something like:

sum(box office gross, streaming revenue, VOD revenue, merchandising revenue)

minus


sum(production actual costs, advertising spend, theaters' cut)

In [9]:
[preview_csvtsv(file, 10) for file in files]

--------------------------------------------------
    File: bom.movie_gross.csv.gz
    --------------------------------------------------

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           10 non-null     object
 1   studio          10 non-null     object
 2   domestic_gross  10 non-null     float64
 3   foreign_gross   10 non-null     int64
 4   year            10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes

None

File contains 3388 total lines, including header.




--------------------------------------------------
    File: imdb.title.ratings.csv.gz
    --------------------------------------------------

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         10 non-null     object
 1   averagerating  10 non-null     float64
 2   numvotes       10 non-null     int64
dtypes: float64(1), int64(1), object(1)
memory usage: 368.0+ bytes

None

File contains 73857 total lines, including header.




--------------------------------------------------
    File: imdb.name.basics.csv.gz
    --------------------------------------------------

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nconst              10 non-null     object
 1   primary_name        10 non-null     object
 2   birth_year          1 non-null      float64
 3   death_year          0 non-null      float64
 4   primary_profession  10 non-null     object
 5   known_for_titles    10 non-null     object
dtypes: float64(2), object(4)
memory usage: 608.0+ bytes

None

File contains 606649 total lines, including header.




--------------------------------------------------
    File: rt.movie_info.tsv.gz
    --------------------------------------------------

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10 non-null     int64
 1   synopsis      9 non-null      object
 2   rating        10 non-null     object
 3   genre         10 non-null     object
 4   director      10 non-null     object
 5   writer        10 non-null     object
 6   theater_date  9 non-null      object
 7   dvd_date      9 non-null      object
 8   currency      4 non-null      object
 9   box_office    4 non-null      object
 10  runtime       10 non-null     object
 11  studio        4 non-null      object
dtypes: int64(1), object(11)
memory usage: 1.1+ KB

None

File contains 1561 total lines, including header.




--------------------------------------------------
    File: imdb.title.akas.csv.gz
    --------------------------------------------------

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title_id           10 non-null     object
 1   ordering           10 non-null     int64
 2   title              10 non-null     object
 3   region             10 non-null     object
 4   language           2 non-null      object
 5   types              8 non-null      object
 6   attributes         1 non-null      object
 7   is_original_title  10 non-null     int64
dtypes: int64(2), object(6)
memory usage: 768.0+ bytes

None

File contains 331704 total lines, including header.




--------------------------------------------------
    File: rt.reviews.tsv.gz
    --------------------------------------------------

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          10 non-null     int64
 1   review      10 non-null     object
 2   rating      3 non-null      object
 3   fresh       10 non-null     object
 4   critic      9 non-null      object
 5   top_critic  10 non-null     int64
 6   publisher   10 non-null     object
 7   date        10 non-null     object
dtypes: int64(2), object(6)
memory usage: 768.0+ bytes

None

File contains 54433 total lines, including header.




--------------------------------------------------
    File: imdb.title.basics.csv.gz
    --------------------------------------------------

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           10 non-null     object
 1   primary_title    10 non-null     object
 2   original_title   10 non-null     object
 3   start_year       10 non-null     int64
 4   runtime_minutes  7 non-null      float64
 5   genres           10 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 608.0+ bytes

None

File contains 146145 total lines, including header.




--------------------------------------------------
    File: tmdb.movies.csv.gz
    --------------------------------------------------

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         10 non-null     int64
 1   genre_ids          10 non-null     object
 2   id                 10 non-null     int64
 3   original_language  10 non-null     object
 4   original_title     10 non-null     object
 5   popularity         10 non-null     float64
 6   release_date       10 non-null     object
 7   title              10 non-null     object
 8   vote_average       10 non-null     float64
 9   vote_count         10 non-null     int64
dtypes: float64(2), int64(3), object(5)
memory usage: 928.0+ bytes

None

File contains 26518 total lines, including header.




--------------------------------------------------
    File: imdb.title.crew.csv.gz
    --------------------------------------------------

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tconst     10 non-null     object
 1   directors  9 non-null      object
 2   writers    9 non-null      object
dtypes: object(3)
memory usage: 368.0+ bytes

None

File contains 146145 total lines, including header.




--------------------------------------------------
    File: tn.movie_budgets.csv.gz
    --------------------------------------------------

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10 non-null     int64
 1   release_date       10 non-null     object
 2   movie              10 non-null     object
 3   production_budget  10 non-null     object
 4   domestic_gross     10 non-null     object
 5   worldwide_gross    10 non-null     object
dtypes: int64(1), object(5)
memory usage: 608.0+ bytes

None

File contains 5783 total lines, including header.




--------------------------------------------------
    File: imdb.title.principals.csv.gz
    --------------------------------------------------

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tconst      10 non-null     object
 1   ordering    10 non-null     int64
 2   nconst      10 non-null     object
 3   category    10 non-null     object
 4   job         2 non-null      object
 5   characters  5 non-null      object
dtypes: int64(1), object(5)
memory usage: 608.0+ bytes

None

File contains 1028187 total lines, including header.

[None, None, None, None, None, None, None, None, None, None, None]

### Import files into data frames and summarize columns

Next, I ran a function that attempts to actually import the full files into data frames. It returns a dictionary with the keys being the df names I specified, and the values being the dataframes themselves.

One of the 'tsv' files from Rotten Tomatoes encountered errors while importing, although there were no errors with the initial 10-row preview. I was able to run through another function that has more error handling, and adjust the encoding to get a good import.

Finally, I ran the dictionary of dataframes through a function which summarizes the columns. I think this will help me see which columns I have.

In [35]:
df_dict = filelist_to_dfs_prelim(files, df_names)
df_dict.keys()

Working on bom.movie_gross.csv.gz...
Working on imdb.title.ratings.csv.gz...
Working on imdb.name.basics.csv.gz...
Working on rt.movie_info.tsv.gz...
Working on imdb.title.akas.csv.gz...
Working on rt.reviews.tsv.gz...
Error encountered and rt.reviews.tsv.gz was skipped
Working on imdb.title.basics.csv.gz...
Working on tmdb.movies.csv.gz...
Working on imdb.title.crew.csv.gz...
Working on tn.movie_budgets.csv.gz...
Working on imdb.title.principals.csv.gz...

dict_keys(['df_bom_gross', 'df_imdb_ratings', 'df_imdb_namebasics', 'df_rt_movie_info', 'df_imdb_akas', 'df_imdb_basics', 'df_tmdb_movies', 'df_imdb_crew', 'df_tn_budgets', 'df_imdb_principals'])

In [40]:
df_dict2 = filelist_to_dfs_errorh(['rt.reviews.tsv.gz'], ['df_rt_reviews'])
df_dict2.keys()

Working on rt.reviews.tsv.gz...

dict_keys(['rt_reviews'])

In [42]:
df_dict2['df_rt_reviews']

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [43]:
# Merge dict of clean dfs with the dict of dfs that had errors
df_dict.update(df_dict2)
df_dict.keys()

dict_keys(['df_bom_gross', 'df_imdb_ratings', 'df_imdb_namebasics', 'df_rt_movie_info', 'df_imdb_akas', 'df_imdb_basics', 'df_tmdb_movies', 'df_imdb_crew', 'df_tn_budgets', 'df_imdb_principals', 'rt_reviews'])

In [47]:
df_dict['df_rt_reviews'] = df_dict['rt_reviews']
df_dict.pop('rt_reviews')

df_dict.keys()

dict_keys(['df_bom_gross', 'df_imdb_ratings', 'df_imdb_namebasics', 'df_rt_movie_info', 'df_imdb_akas', 'df_imdb_basics', 'df_tmdb_movies', 'df_imdb_crew', 'df_tn_budgets', 'df_imdb_principals', 'df_rt_reviews'])

### Create a summary of the columns in each table

Export this summary to a CSV file so I can make outside notes.

In [45]:
df_colsumm = summarize_cols(df_dict)
df_colsumm.to_csv('column_summary.csv',index=False)

### Look deeper into what we have in each data set

Answer questions such as:
- What information is in each data set? Does any single data set have everything you need, or do you need to figure out how to join data sets?
- What is the range of release years in each data set? Which have the most data?
- What data points do I want to focus on in each data set, and what can I discard/disregard? This will narrow down the data I intend to clean up.

1. Monetary stuff in The Numbers data set - box office gross and budget. Look at changes over time to attempt to identify trends.
    - Is there a sweet spot in terms of a  budget range to maximize profit? Are there diminishing returns?
    - Do we see any trends in profits over time? Has the distribution of profits coming from domestic versus foreign changed over time?
2. What are the attributes of the most profitable movies? Do they get higher critical ratings? Is there a certain sweet spot for runtime length? How about MPAA ratings? Genres? Release month?
    - Should the studio focus on making movies that make critics happy to maximize profits?
3. What can we learn about the contributors to movies? If we look at the writers, directors, producers on the most profitable movies, then look at other movies they were in, do we see any patterns? How about the actors and actresses? Do more experienced contributors (those who have worked on x amount of movies prior) create a more profitable product?
    - Should Microsoft focus on hiring certain types of talent? Should they consider paying a premium for more famous actors or directors?

## Initial thoughts:
The question I am asked to investigate is: "which movies are doing best at the box office?" But if the business goal is successfully entering the movie-making market, this question is only one of many we should ask and answer to determine the best approach.

Considering only the past earnings from box office sales is unlikely to be a good predictor of successful movies in the future. Even if we were to use only the past few years of data, the business model is rapidly changing. With the rise of streaming, many movies aren't released in theaters at all anymore, and the future of movie theaters has become especially uncertain due to the Covid-19 pandemic. 

The attributes of movies that are the most successful in the theaters may vary from the attributes of movies that are most successful when released only on streaming platforms. The reasons why people may choose to go and watch a movie in the theaters will be different from the reasons people choose to stream a movie: theaters offer an event-like experience with the very large screen and loud surround sound, whereas viewers streaming movies watch them in their homes. 

It's unclear whether the entire business model of creating movies for streaming services differs from the traditional model.

## Measures of successful movies include:

|Measure|Have it?|Where|Notes|
|---|---|---|---|
|Gross earnings (box office only)|Yes|bom.movie_gross.csv.gz, tn.movie_budgets.csv.gz, rt_movie_info|BOM splits into foreign and domestic. TN has the most records, AND prod budget. RT has only 1500.|
|Net box office earnings after subtracting costs|Some|Can calculate from gross - production budget|Other data sets have gross box office earnings but not production budget|df_tn_budget|
|Merchandising earnings|No|---|---|
|Gross earnings from other sources, such as streaming, rentals|No|---|
|High ratings from professional movie reviewers|Yes|rt.reviews.tsv.gz|RT is the only data set with critical reviews|
|High ratings from viewers|Yes|imdb.title.ratings.csv.gz, tmdb.movies.csv.gz|I think the tmdb ratings are users not critics|
|Being nominated for and winning awards|No|---|
|---|---|---|
 
Microsoft will need to decide which measures of success are most important. Given its primary business is profitable and in a totally different economic sector, it may decide to treat the foray into film as a way to keep the brand feeling "cool" to consumers. If that's the case, measures of success such as ratings and award nominations may be weighted more heavily than profit.

## Potential Independent Variables
Reasons why certain movies may be more successful than others (independent variables) include:

|Independent Variable|Have it?|Where|Notes|
|---|---|---|---|
|Budget - i.e. how much money they spent making it|Yes|tn.movie_budgets.csv.gz|
|Genre (action, drama, comedy, etc)|Yes|imdb.title.basics.csv.gz|
|Well-known and loved actors being in them|Yes, ish|imdb.name.basics.csv.gz, imdb.title.principals.csv.gz|Join tables to figure out who did what|
|Well-known and loved writers, directors, and other creators|Yes|imdb.name.basics.csv.gz,imdb.title.crew.csv.gz||
|Seasonality (combination of topic and release date)|No|---|
|Whether the movie is part of a series or franchise|Can get|---|Perhaps if based on a book or comic book? https://www.the-numbers.com/movies/franchises|
|Month of release|Yes|tmdb.movies.csv.gz|
|Method of release (in theaters only, straight to streaming, etc)|No|---|
|MPAA Rating|Yes|rt.movie_info.tsv.gz|
|Runtime length|Yes|rt.movie_info.tsv.gz, imdb.title.basics.csv.gz|
|Semantic characteristics of the title|Yes|imdb.title.akas.csv.gz|---|
|Semantic characteristics of the official synopsis|Yes|rt.movie_info.tsv.gz|---|

## Potential Trends to Consider
- Has there been any change in the popularity of movies directed by different categories of people? For instance, are movies written or directed by women becoming more popular over time?
- How is the method of release changing over time?
- Are budgets changing over time? Is the change in line with inflation, or changing at a higher rate?
- Is the general profitability changing over time? Should Microsoft rethink getting into movies if the profit margins are getting slimmer and slimmer?
- How many very successful movies are made by smaller, independent studios? How long have the most successful studios been established?
- Is there a really big gap between the highest earners / most popular and the average? Do the movies we consider successful stand way out from the pack? What's the standard deviation?

## Sources used for research
- In general, major studios don’t disclose the full budgets for their films (production, development, marketing, and advertising).[1]
- In addition to the cost of production, the gross box office earnings don't factor in that the theaters keep a cut of the ticket sales. It's hard to know what the production company actually gets.[1]
- The movie industry is rather famously difficult to predict accurately. Many have tried, but it's difficult to do. [2]
- One hit can pay for a lot of flops [2]
- Many of the existing production companies have been around for a long time [2]
-"Because it’s harder to get financing and audiences, companies are competing to make bigger, costlier films while eliminating risk, which is why ever-more movies are based on existing intellectual property. Eighteen of the all-time 100 top-grossing movies (adjusted for inflation) were sequels, and more than half of those were released since 2000." [2]


[1]: Source = https://www.investopedia.com/articles/investing/093015/how-exactly-do-movies-make-money.asp#:~:text=VOD%20revenues%20tend%20to%20dry,audiences%20away%20from%20traditional%20movies Accessed on 3/12/2021.

[2] Source = https://www.nytimes.com/2012/07/01/magazine/how-does-the-film-industry-actually-make-money.html Accessed 3/12/2021.